<ion-view>
  <ion-nav-title>Pokédex</ion-nav-title>
  <ion-content>

      <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Digite um Pokémon aqui" ng-model="searchInput">
          </label>
        </div>

    <ion-list>
      <div ng-repeat="pai in listaPokemons | filter: searchInput">
          <ion-item class="item-stable"
                      ng-click="toggleGroup(pai)"
                      ng-class="{active: isGroupShown(pai)}">
            <i class="icon" ng-class="isGroupShown(pai) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{pai.prim}}
          </ion-item>
          <ion-item class="item-accordion"
                      ng-repeat="filho in pai.subs | filter: searchInput"
                      ng-show="isGroupShown(pai)">
            <a href="#/pokemon/{{filho.id}}">{{filho.id}} - {{filho.name | capitalizeFirstLetter}}</a>
          </ion-item>
        </div>          
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>
