<ion-view>
    <ion-nav-title>{{poke.forms[0].name | capitalizeFirstLetter}}</ion-nav-title>
    <ion-content>
        <h4>Number: {{numPokemon}} </h4>
        <h4>Types: </h4>
          <p ng-repeat="types in poke.types">
            {{types.type.name}}
          </p>
        <h4>Abilities:</h4>
          <p ng-repeat="hab in poke.abilities">
            {{hab.ability.name}}
            <i class="icon" ng-show="hab.is_hidden" ng-class="ion-star"></i>
          </p>
        <h4>Stats:</h4>
            <div ng-repeat="status in poke.stats">
                <p>{{status.stat.name}} - {{status.base_stat}}</p>
            </div>
        </table>
    </ion-content>
</ion-view>
