<ion-view>
    <ion-nav-title>{{numPokemon}}</ion-nav-title>
    <ion-content>
        <h4>Number {{numPokemon}} </h4>
        <!--Types: {{poke.type1}} {{poke.type2}}    Não encontrei no Json da API (Victor)-->
        <h4>Abilities:</h4>
          <p ng-repeat="hab in poke.abilities">
            {{hab.ability.name}}
            <i class="icon" ng-show="hab.is_hidden" ng-class="ion-star"></i>
          </p>
        <h4>Stats:</h4>
            <div ng-repeat="status in poke.stats">
                <p>{{status.stat.name}}, {{status.base_stat}}</p>
            </div>
        </table>
    </ion-content>
</ion-view>
