<ion-view>
    <ion-nav-title>{{poke.name}}</ion-nav-title>
    <ion-content>
        <h4>Number {{poke.num}} </h4>
        Types: {{poke.type1}} {{poke.type2}}
        <table>
            <thead>
                <th>Abilities:</th>
            </thead>
            <tr>
                <td ng-repeat="hab in poke.habilities">
                    {{hab.ability.name}}
                    <i class="icon" ng-show="hab.is_hidden" ng-class="ion-star"></i>
                </td>
            </tr>
        </table>
        <table>
            <thead>
                <th>Stats</th>
            </thead>
            <tr ng-repeat="status in stats">
                <td>{{status.stat.name}}</td>
                <td>{{status.base_stat}}</td>
            </tr>
        </table> 
    </ion-content>
</ion-view>